<template id="container-monitor-template">
  <style>
    .header {
      display: flex;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid #000;
    }
    .row div {
      display: flex;
    }
    .col {
      flex: 1;
      padding: 10px;
    }
    .alert {
      color: #fff;
      background: #c72f2f;
      border-bottom: 1px solid #fff;
    }

    .note {
      padding-top: 20px;
      font-weight: bold;
    }
    .error {
      color: #c72f2f;
      border: 1px #c72f2f solid;
      padding: 10px;
      margin: 20px 0;
    }
  </style>
  <div class="header">
    <div class="col">Beer Container</div>
    <div class="col">Real Time Temperature (°C)</div>
    <div class="col">Desired Temperature (°C)</div>
  </div>
  <div id="content" class="row"></div>
  <div class="note">
    Note: Wait for 10 secs to get the undesired temperature. Node js server will
    send alert after 10 secs (Mimicking Real-time data). There is a web socket
    listening for live events in the app.
  </div>
</template>
<script src="container-monitor.component.js"></script>
